/* line 5, ../../app/stylesheets/application.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #999;
}

/* line 10, ../../app/stylesheets/application.scss */
#header {
  width: 100%;
  height: 35px;
  -moz-box-shadow: 0px 1px 5px black;
  -webkit-box-shadow: 0px 1px 5px black;
  -o-box-shadow: 0px 1px 5px black;
  box-shadow: 0px 1px 5px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f62217), color-stop(50%, #ff0000), color-stop(100%, #f62217));
  background-image: -webkit-linear-gradient(#f62217, #ff0000, #f62217);
  background-image: -moz-linear-gradient(#f62217, #ff0000, #f62217);
  background-image: -o-linear-gradient(#f62217, #ff0000, #f62217);
  background-image: -ms-linear-gradient(#f62217, #ff0000, #f62217);
  background-image: linear-gradient(#f62217, #ff0000, #f62217);
  margin: 0px 0px 15px 0px;
}
/* line 17, ../../app/stylesheets/application.scss */
#header h1 {
  float: left;
  width: 100%;
  margin: 3px 0px 2px 20px;
  font-size: 1.5em;
  color: #333;
}

/* line 26, ../../app/stylesheets/application.scss */
#page-content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 31, ../../app/stylesheets/application.scss */
.tweet-container {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 290px;
  margin: 30px 0px 0px 0px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tweet-container {
  overflow-x: hidden;
}
/* line 35, ../../app/stylesheets/application.scss */
.tweet-container .tweet {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #aaaaaa);
  background-image: -ms-linear-gradient(#ffffff, #aaaaaa);
  background-image: linear-gradient(#ffffff, #aaaaaa);
  margin: 0px;
  padding: 2px;
  border: 1px solid #ccc;
  min-height: 115px;
}
/* line 43, ../../app/stylesheets/application.scss */
.tweet-container .tweet img {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  margin: 0px;
  width: 48px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tweet-container .tweet img {
  overflow-x: hidden;
}
/* line 49, ../../app/stylesheets/application.scss */
.tweet-container .tweet h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin: 0px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.85em;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tweet-container .tweet h1 {
  overflow-x: hidden;
}
/* line 56, ../../app/stylesheets/application.scss */
.tweet-container .tweet p {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin: 0px;
  margin-left: 5px;
  font-weight: thin;
  font-size: 0.85em;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tweet-container .tweet p {
  overflow-x: hidden;
}
